[submodule "traccar-web"]
	path = traccar-web
	url = https://github.com/ravithb/traccar-web.git
[submodule "traccar-cloud-functions"]
	path = traccar-cloud-functions
	url = https://github.com/ravithb/traccar-cloud-functinos.git
